<a href="https://colab.research.google.com/github/alangrubb99/deep-learning-challenge/blob/main/Alphabet_Soup_Optimized.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
import os
spark_version = 'spark-3.5.0'
os.environ['SPARK_VERSION']=spark_version

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:7 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,404 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,009 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,202 kB]
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,430 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,471 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,275 kB]
Fetched 8,024 kB in 2s (4,402 kB/s)
Reading package lists... Done

In [4]:
#Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

In [5]:
# Start a SparkSession
import findspark
findspark.init()

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from pyspark.sql import SparkSession
import time



#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop only 'EIN'
#application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.drop(['EIN'], axis=1, inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [9]:
# Look at NAME value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [10]:
# Bin other for names <= 5
name_counts = application_df['NAME'].value_counts().loc[lambda x : x<=5]
names_to_replace = list(name_counts[name_counts <= 5].index)

In [11]:
# Replace in dataframe
for app in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(app,"Other")

In [12]:
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [13]:
# Look at application type value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<=20]
application_types_to_replace = list(application_counts[application_counts <= 20].index)

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#application_df['CLASSIFICATION'].value_counts().gt(1).sum()
classification_counts = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<70]
classifications_to_replace = list(classification_counts[classification_counts <= 70].index)

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace'

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')
X = pd.get_dummies(X)
X.head()

,STATUS,ASK_AMT,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [19]:
# Split our preprocessed data into our features and target arrays
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

(25724, 409)

In [20]:
X_test.shape

(8575, 409)

In [21]:
# Set input dimension
dim_set = X_test.shape[1]

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled

array([[ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687]])

In [23]:
X_test_scaled

array([[ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.0293783 , -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.01394306, ..., -0.07529085,
         0.02925687, -0.02925687]])

In [24]:
# Define the model - deep neural net
hidden_layer1 = 80
hidden_layer2 = 30

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units= hidden_layer1, activation="relu", input_dim=dim_set))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units= hidden_layer2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=4, activation="relu"))
# Output layer

nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                32800

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 4)                 124

 dense_7 (Dense)             (None, 1)                 5

=================================================================
Total params: 35359 (138.12 KB)
Trainable params: 35359 (138.12 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5724 - accuracy: 0.7515
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4942 - accuracy: 0.7916
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4704 - accuracy: 0.7933
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4575 - accuracy: 0.7932
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4484 - accuracy: 0.7944
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4425 - accuracy: 0.7950
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4387 - accuracy: 0.7962
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4364 - accuracy: 0.7982
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4338 - accuracy: 0.7976
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7982
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4305 - accuracy: 0.7975
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7987
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4269 - accuracy: 0.7991
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4266 - accuracy: 0.7995
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4253 - accuracy: 0.8002
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7998
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7987
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4228 - accuracy: 0.8008
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7992
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4221 - accuracy: 0.8003
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4203 - accuracy: 0.8007
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4208 - accuracy: 0.8017
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4203 - accuracy: 0.8005
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.8017
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.8019
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.8017
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.8024
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.8023
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4174 - accuracy: 0.8031
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4170 - accuracy: 0.8026
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4162 - accuracy: 0.8039
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.8025
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.8037
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.8027
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.8035
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.8037
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8049
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4144 - accuracy: 0.8033
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4152 - accuracy: 0.8037
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4142 - accuracy: 0.8040
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8032
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8045
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8036
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8037
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8038
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4127 - accuracy: 0.8045
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4124 - accuracy: 0.8048
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4123 - accuracy: 0.8037
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.8033
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8042

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4546 - accuracy: 0.7936 - 345ms/epoch - 1ms/step
Loss: 0.4546079635620117, Accuracy: 0.793586015701294

In [30]:
# Export our model to HDF5 file
print("The model is saved to HDF5 format")
nn_model.save('/content/drive/MyDrive/AlphabetSoupCharity_Optimization.h5')

The model is saved to HDF5 format

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(